.container {
  /* width: 80vw; */
  /* height: 80vh; */
  /* margin: 0 auto; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  
  /* text-decoration: none; */
  padding:50px;
  /* justify-content: stretch; */
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  gap: 2em;
  width: auto;
  margin:auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;
  grid-gap:10em;
}














  
  

