/* Estilos generales */
* {
  scroll-behavior: smooth;
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: rgb(27, 27, 27);
  color: #daf4e8;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
